<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head') %>
  </head>
  <body>
    <div class="navbar-container"><%- include('../partials/header') %></div>
    <div class="register-container">
      <form>
        <div class="email error"></div>
        <input type="text" name="email" placeholder="email" />
        <div class="password error"></div>
        <input
          id="password"
          type="password"
          name="password"
          placeholder="password"
        />
        <button type="submit">Log in</button>
      </form>
      <p>
        Don't have an account yet?
        <span><a href="/api/auth/register">Sign Up</a></span>
      </p>
    </div>
    <script>
      // target elements
      const form = document.querySelector("form");
      const emailErr = document.querySelector(".email.error");
      const passwordErr = document.querySelector(".password.error");

      form.addEventListener("submit", handle_register_user_form);

      // handle form register
      async function handle_register_user_form(e) {
        e.preventDefault();
        const email = form.email.value;
        const password = form.password.value;

        emailErr.textContent = "";
        passwordErr.textContent = "";

        try {
          const res = await fetch("/api/auth/login", {
            method: "POST",
            body: JSON.stringify({ email, password }),
            headers: { "Content-Type": "application/json" },
          });

          // ONLY WILL SEE THIS IF --> server side returns res.json() on post method
          const data = await res.json();
          console.log(data);

          // show user error
          if (data.errors) {
            emailErr.textContent = data.errors.email;
            passwordErr.textContent = data.errors.password;
          }

          // if user exists & auth then redirect to user dashboard
          if (data.user) {
            console.log(data.user);
            location.assign("/api/user/dashboard");
          }
        } catch (error) {
          console.log("Request failed: " + error.message);
        }
      }
    </script>
    <footer><%- include('../partials/footer') %></footer>
  </body>
</html>
